@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "roboto";
  background-image: url(../assets/img.webp);
  min-height: 100dvh;
  background-size: cover;
}

* {
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-top: 12px;
}
h3 {
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  font-size: 22px;
}

#container {
  background-color: rgb(29, 29, 29, 0.7);
  padding: 1rem;
  border: 2px #fff solid;
  border-radius: 10px;
}
