header {
  display: flex;
  padding: 1rem;
}
header .menu {
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 5px;
}
.photos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.photos {
  max-height: 100%;
  max-width: 100%;
}
